### **INVENTORY**

In [14]:
import json
file = open("record.json",'r')
r = file.read()
file.close()
record = json.loads(r)
print("******************************************************\n")
print("Product ID".center(15)+"PRODUCT NAME".center(25)+"QUANTITY".center(15)+"\n")
print("******************************************************\n")
for i in record:
  print(str(i).center(15) +"\t"+ str(record[i]['Name']).center(25) + str(record[i]['Quantity']).center(15) )

******************************************************

   Product ID         PRODUCT NAME          QUANTITY

******************************************************

      101      	         Fivestar              100
      102      	         Eclairs               500
      103      	        Diary Milk             200
      104      	          Bounty               100
      105      	        Kinder Joy              25
      106      	           Oreo                 50
      107      	       Dark Fantasy             20
      108      	      Hide and Seek             25
      109      	          Gooday                20
      110      	         Parle G                20
      111      	        Red velvet              1
      112      	         Lavacake               1
      113      	    Death by Chocolate          1
      114      	       butterscotch             1
      115      	      chocolatecake             1
      116      	           Lays                 20
      117      	         kurkure                20
      118      	          bingo                 20
      119      	        moongdhal               20
      120      	       littlehearts             15
      121      	          TooYum                15
      122      	          Samosa                10
      123      	          maggie                10
      124      	         eggpuff                10
      125      	         vegpuff                10
      126      	          bread                 5
      127      	         sandwich               15
      128      	         icecream               50
      129      	          juice                 10
      130      	           Buns                 10
      131      	         Snickers               20
      132      	          Munch                 20

### **Purchase Item**

In [87]:
sales={}
sale_id = 0

In [107]:
import time
while(True):
  file = open("record.json",'r')
  r = file.read()
  file.close()
  record = json.loads(r)
  id = str(input("Enter the product id: "))
  if (id in record):
    pass
  else:
    print("Invalid ID")
    print("\n")
    continue
  print("\nProduct name :",record[id]['Name'])
  price = int(record[id]['Price'])
  print("Price :",record[id]['Price'])
  quantity = int(input("\nEnter quantity: "))
  if (quantity > (record[id]['Quantity'])):
    print("\nStock Not Available")
    print("Available stock :", record[id]['Quantity'])
    print("\n")
  else:
    total_price =  price*quantity
    print("TOTAL AMOUNT :",total_price)
    purchased_quantity = quantity
    quantity = int(record[id]['Quantity']) - quantity
    record[id]['Quantity'] = quantity
    sale_id = sale_id+1
    sales[sale_id] = {"Product ID":id, "Name":str(record[id]['Name']),"Quantity":str(purchased_quantity),"Price":total_price}
    sale = json.dumps(sales)
    file = open("sales.json",'w')
    file.write(sale)
    file.close()
    print("\n_______________________________________________________________________\n")
    print("\n************************************BILL*******************************")
    print("\n_______________________________________________________________________\n")
    print("Product ID".center(15)+"PRODUCT NAME".center(25)+"QUANTITY".center(15)+"PRICE".center(15))
    print("\n-----------------------------------------------------------------------")
    print(str(id.center(15)) + str(record[id]['Name']).center(25) + str(purchased_quantity).center(15) + str(total_price).center(15) )
    print("\n-----------------------------------------------------------------------")
    print("TOTAL PRICE".center(55)+str(total_price).center(15))
    print("\n-----------------------------------------------------------------------")
    print("Date:",time.ctime())
    print("\n_______________________________________________________________________\n")
    print("\n*********************************THANK YOU***************************")
    print("\n_______________________________________________________________________\n")
    print("\n")
    break

Enter the product id: 128

Product name : icecream
Price : 50

Enter quantity: 1
TOTAL AMOUNT : 50

_______________________________________________________________________


************************************BILL*******************************

_______________________________________________________________________

   Product ID         PRODUCT NAME          QUANTITY        PRICE

-----------------------------------------------------------------------
      128               icecream               1              50

-----------------------------------------------------------------------
                      TOTAL PRICE                             50

-----------------------------------------------------------------------
Date: Mon Sep  6 15:16:55 2021

_______________________________________________________________________


*********************************THANK YOU***************************

_______________________________________________________________________

In [105]:
sales

{1: {'Name': 'Eclairs', 'Price': 5, 'Product ID': '102', 'Quantity': '5'},
 2: {'Name': 'Diary Milk', 'Price': 60, 'Product ID': '103', 'Quantity': '3'},
 3: {'Name': 'Eclairs', 'Price': 5, 'Product ID': '102', 'Quantity': '5'},
 4: {'Name': 'Eclairs', 'Price': 5, 'Product ID': '102', 'Quantity': '5'},
 5: {'Name': 'maggie', 'Price': 20, 'Product ID': '123', 'Quantity': '2'},
 6: {'Name': 'eggpuff', 'Price': 30, 'Product ID': '124', 'Quantity': '2'},
 7: {'Name': 'butterscotch',
  'Price': 40,
  'Product ID': '114',
  'Quantity': '1'},
 8: {'Name': 'Munch', 'Price': 5, 'Product ID': '132', 'Quantity': '1'},
 9: {'Name': 'Kinder Joy', 'Price': 120, 'Product ID': '105', 'Quantity': '4'},
 10: {'Name': 'Dark Fantasy',
  'Price': 30,
  'Product ID': '107',
  'Quantity': '1'},
 11: {'Name': 'kurkure', 'Price': 30, 'Product ID': '117', 'Quantity': '3'},
 12: {'Name': 'Lavacake', 'Price': 35, 'Product ID': '112', 'Quantity': '1'},
 13: {'Name': 'bingo', 'Price': 30, 'Product ID': '118', 'Quantity': '3'},
 14: {'Name': 'bread', 'Price': 50, 'Product ID': '126', 'Quantity': '2'}}

### **Sales Report**

In [111]:
import json
file = open("sales.json",'r')
r = file.read()
file.close()
record = json.loads(r)
print("******************************************************************************************\n")
print("Product ID".center(15)+"PRODUCT NAME".center(25)+"PURCHASED QUANTITY".center(25)+"PURCHASED PRICE".center(25)+"\n")
print("******************************************************************************************\n")
sum = 0
for i in record:
  print(str(i).center(15) + str(record[i]['Name']).center(25) + str(record[i]['Quantity']).center(25) + str(record[i]['Price']).center(25) )
  sum = sum + record[i]['Price']
print("__________________________________________________________________________________________\n")
print("Total Sales Price".center(65)+str(sum).center(25))
print("__________________________________________________________________________________________\n")

******************************************************************************************

   Product ID         PRODUCT NAME          PURCHASED QUANTITY        PURCHASED PRICE

******************************************************************************************

       1                Eclairs                     5                        5
       2               Diary Milk                   3                        60
       3                Eclairs                     5                        5
       4                Eclairs                     5                        5
       5                 maggie                     2                        20
       6                eggpuff                     2                        30
       7              butterscotch                  1                        40
       8                 Munch                      1                        5
       9               Kinder Joy                   4                       120
       10             Dark Fantasy                  1                        30
       11               kurkure                     3                        30
       12               Lavacake                    1                        35
       13                bingo                      3                        30
       14                bread                      2                        50
       15                Gooday                     2                        20
       16               icecream                    1                        50
__________________________________________________________________________________________

                        Total Sales Price                                   535
__________________________________________________________________________________________